/* COLORS
*
* blue = #4693e0;
*
*/

/* = MAIN CSS = */

body {
  background: #FFFEFF;
}

footer {
  margin-top: 50px;
}

.top-buffer {
  margin-top: 20px;
}

.card:hover {
  border: 1px solid #4693e0;
}