<!-- scripts -->
<script src="/assets/js/vendor/prism-min.js"></script>
<script src="/assets/js/vendor/clipboard-min.js"></script>
<script src="/assets/js/vendor/lunr-min.js"></script>
<script src="/assets/js/min/search-min.js"></script>
<script src="/assets/js/min/plugins-min.js"></script>
<script src="/assets/js/min/main-min.js"></script>

<!-- Google Analytics -->
<script>
  window.ga = function () {
    ga.q.push(arguments)
  };
  ga.q = [];
  ga.l = +new Date;
  ga('create', '{{ site.google_analytics }}', 'auto');
  ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
