<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% if page.class == 'home-github' %}{{ site.pa_github }}{% elsif page.class == 'home-docs' %}{{ site.pa_docs }} | {{ site.title}}{% elsif page.class contains 'error' %}{{ page.title }}{% elsif page.class == null %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | normalize_whitespace | truncate: 160 | strip_html }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{ site.pr_author }}">
  <meta name="google" content="notranslate">
  
  <link rel="canonical" href="{{ site.url_canonical }}">
  <link rel="alternate" hreflang="en" href="{{ site.url_alternate_en }}">
  <link rel="alternate" hreflang="cs" href="{{ site.url_alternate_cs }}">

  <link rel="stylesheet" href="/assets/css/vendor-min.css?v=1.0">
  <link rel="stylesheet" href="/assets/css/main-min.css?v=1.1">

  <!-- GitHub pages workaround (needs absolute url )-->
  <link rel="shortcut icon" type="image/x-icon" href="https://raw.githubusercontent.com/{{ site.github_username }}/{{ site.git_repo }}/master/favicon.ico">
</head>