<header>
  <div class="container">
    <nav class="navbar">

      <a class="navbar-brand" title="{{ site.product_name }}" href="{{ site.product_url }}">
        <picture>
          <source srcset="/assets/img/logo@1x.webp, /assets/img/logo@2x.webp 2x, /assets/img/logo@3x.webp 3x" type="image/webp">
          <img src="/assets/img/logo@1x.png" srcset="/assets/img/logo@2x.png 2x, /assets/img/logo@3x.png 3x" alt="Smartlook">
        </picture>
      </a>

      <div id="navbar">
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/docs/">Documentation</a>
          </li>
          <li>
            <a href="{{ site.help_url }}">Help</a>
          </li>
          <li>
            <a href="https://github.com/smartlook?utf8=%E2%9C%93&q=plugin&type=&language=" target="_blank">Plugins</a>
          </li>
        </ul>

      </div>

    </nav>
  </div>
</header>