<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | normalize_whitespace | truncate: 160 | escape }}">
  <meta name="author" content="Smartsupp">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/assets/css/grid.css">
  <link rel="stylesheet" href="/assets/css/prism.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  
  <link rel="shortcut icon" href="favicon.ico">
</head>