<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | normalize_whitespace | truncate: 160 | escape }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google" content="notranslate">
  <meta name="author" content="Smartsupp">

  <link rel="stylesheet" href="/assets/css/vendor/normalize.min.css">
  <link rel="stylesheet" href="/assets/css/vendor/grid.min.css">
  <link rel="stylesheet" href="/assets/css/vendor/prism.min.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  
  <link rel="shortcut icon" href="/favicon.ico">
</head>