<header>
  <nav class="navbar">

   <a class="navbar-brand" title="{{ site.product_name }}" href="{{ site.product_url }}">
      <picture>
        <source srcset="/assets/images/logo@1x.webp, /assets/images/logo@2x.webp 2x, /assets/images/logo@3x.webp 3x" type="image/webp">
        <img src="/assets/images/logo@1x.png" srcset="/assets/images/logo@2x.png 2x, /assets/images/logo@3x.png 3x" alt="Smartlook">
      </picture>
    </a>

    <div id="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/docs/">Documentation</a></li>
        <li><a href="https://www.smartlook.com/help/">Help</a></li>
      </ul>

    </div>
  </nav>
</header>