/* === MAIN CSS === */

/* Company colors:
*
* blue = #4693e0;
* gray = ?
* .... = ?
*/

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fffeff;
  padding-top: 110px;
}

a,
a:hover,
a:active {
  color: #4693e0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main img {
  padding: 2px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
}

main img:hover {
  border: 1px solid #ccc;
  background: #eee;
  -webkit-transition: .75s;
  transition: .75s;
}

/* intro */

/* .intro {
  background: linear-gradient(252deg, #3bddfb, #1571ce) fixed;
} */

/* header */

header {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  background-color: #fafafa;
  color: #3e5b78;
  -webkit-box-shadow: 0 1px 4px 0 rgba(36, 93, 151, 0.5);
  box-shadow: 0 1px 4px 0 rgba(36, 93, 151, 0.5);
}

.navbar-brand {
  float: left;
}

#navbar ul {
  margin-left: 150px;
}

#navbar ul li {
  display: inline-block;
  margin-left: 20px;
}

ol.breadcrumb {
  margin-top: 0;
  padding: 8px 15px;
  background-color: #fafafa;
  border-radius: 5px;
}

ol.breadcrumb li {
  display: inline-block;
}

ol.breadcrumb>li+li:before {
  content: "/\00a0";
  padding: 0 5px;
  color: rgba(62, 91, 120, 0.56);
}

/* footer */

footer {
  height: 60px;
  background: linear-gradient(257deg, #5490AE, #3B649A);
  margin-top: 70px;
}

footer p {
  line-height: 60px;
  color: #fff;
}

footer a {
  color: #d8ebff;
}

footer a:hover {
  color: #fff;
}

/* error 404 */




/* misc */

.card h2 {
  color: #4693e0;
}

