/** COLORS = smartlook.github.io
*
* COMPANY:
* 
* blue = #1991eb;
* blueish-black: #3f5b78;
* green = #2ec09a;
* white = #fafafa;
* grayblue = #7599bd;
* pale-teal = #76bcaa;
* dust = #bd9b75;
* brownish-pink: #bd7575;
*
* :TODO: add colors from CSS and either adjust to company or add below 
* 
* OTHER:
*
* yellow = ##f1c40f;
* ... = ?
* ... = ?
* 
**/

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: #fffeff;
  padding-top: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.site-content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

a,
a:hover,
a:active {
  color: #4693e0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a,
button:focus {
  outline: none;
}

code {
  font-family: monospace;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 2px 4px;
  font-size: 90%;
  color: #ff344f;
  background-color: rgba(255, 52, 79, 0.1);
}

/* HEADER */

header {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  background-color: #fff;
  color: #3e5b78;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  min-height: 72px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(36, 93, 151, 0.5);
  box-shadow: 0 1px 4px 0 rgba(36, 93, 151, 0.5);
}

.card h2 {
  color: #4693e0;
}

header .container {
  margin-top: 10px;
}

.navbar {
  position: relative;
  left: 20px;
}

.navbar-brand {
  float: left;
}

#navbar ul {
  margin-left: 150px;
}

#navbar ul li {
  display: inline-block;
  margin-left: 20px;
}

ol.breadcrumb {
  margin-top: 50px;
  padding: 8px 15px;
  background-color: #fafafa;
}

ol.breadcrumb li {
  display: inline-block;
}

ol.breadcrumb > li + li:before {
  content: "/\00a0";
  padding: 0 5px;
  color: rgba(62, 91, 120, 0.56);
}

/* FOOTER */

.site-footer {
  margin-top: 6rem;
  background: linear-gradient(257deg, #5490ae, #3b649a);
}

.site-footer p {
  color: #fff;
}

.site-footer a {
  color: #d8ebff;
}

.site-footer a:hover {
  color: #fff;
}

/* ERROR PAGES */

.error-404 {
  text-align: center;
  min-height: 100%;
}

/* TABLES */

table {
  border-collapse: collapse;
  background-color: #fff;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #ccc;
}

th {
  border-bottom: 2px solid #ccc;
}

tr:hover {
  background-color: #eee;
}

thead tr:hover {
  background-color: #fff;
}

/* ALERTS */

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
}

.alert-warning {
  background-color: #fff3cd;
  border-color: #ffeeba;
  border-left: 5px solid #ffeeba;
}

.alert-warning,
.alert-warning strong,
.alert-warning em {
  color: #856404;
}

/* CALLOUTS */

.callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: 0.25rem;
}

.callout-danger {
  border-left-color: #d9534f;
}

.callout-warning {
  border-left-color: #f0ad4e;
}

/* MISC */

::-moz-selection {
  color: #fff;
  background: #4693e0;
}

::selection {
  color: #fff;
  background: #4693e0;
}

/* LANGUAGE SYNTAX */

pre {
  position: relative;
}

pre[class]::before {
  content: attr(class);
  background: #3f5b78;
  min-width: 50px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 10px;
  color: white;
  text-align: center;
  padding: 3px 0;
}

pre[class*="language-"] {
  padding: 10px 20px 0;
}

pre[class*="language-javascript"]::before {
  background: #f1c40f;
}

pre[class*="language-javascript"]::before {
  content: "JS";
}

pre[class*="language-php"]::before {
  background: #76bcaa;
}

pre[class*="language-php"]::before {
  content: "PHP";
}

pre[class*="language-html"]::before {
  background: #bd9b75;
}

pre[class*="language-html"]::before {
  content: "HTML";
}

/* CLIPBOARD */

.copy-button {
  cursor: pointer;
  border: 0;
  font-size: 10px;
  height: 23px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 20px;
  color: #795548;
  background-color: transparent;
  position: absolute;
  top: -2px;
  right: 0;
}

.copy-button:hover {
  background-color: #eae4e0;
}

.copy-button::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  background-size: contain;
  background-image: url(../img/clipboard.svg);
  background-repeat: no-repeat;
  position: relative;
  top: 3px;
}