/* # MAIN CSS */

/* COMPANY COLORS
*
* blue = #4693e0;
* gray = ?
* green = ?
* .... = ?
*/

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: #fffeff;
  padding-top: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.site-content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

a,
a:hover,
a:active {
  color: #4693e0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

article a {
  font-weight: 700;
}

main img {
  padding: 2px;
  background: #fff;
  border: 1px solid #eee;
}

main img:hover {
  border: 1px solid #ccc;
  background: #eee;
  -webkit-transition: .75s;
  transition: .75s;
}

code {
  font-family: monospace;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 2px 4px;
  font-size: 90%;
  color: #ff344f;
  background-color: rgba(255, 52, 79, 0.1);
  border-radius: 4px;
}

/* HEADER */

header {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  background-color: #fff;
  color: #3e5b78;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  min-height: 72px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(36, 93, 151, 0.5);
  box-shadow: 0 1px 4px 0 rgba(36, 93, 151, 0.5);
}

.card h2 {
  color: #4693e0;
}

header .container {
  margin-top: 10px;
}

.navbar {
  position: relative;
  left: 20px;
}

.navbar-brand {
  float: left;
}

#navbar ul {
  margin-left: 150px;
}

#navbar ul li {
  display: inline-block;
  margin-left: 20px;
}

ol.breadcrumb {
  margin-top: 50px;
  padding: 8px 15px;
  background-color: #fafafa;
}

ol.breadcrumb li {
  display: inline-block;
}

ol.breadcrumb>li+li:before {
  content: "/\00a0";
  padding: 0 5px;
  color: rgba(62, 91, 120, 0.56);
}

/* FOOTER */

.site-footer {
  margin-top: 6rem;
  background: linear-gradient(257deg, #5490AE, #3B649A);
}

.site-footer p {
  color: #fff;
}

.site-footer a {
  color: #d8ebff;
}

.site-footer a:hover {
  color: #fff;
}

/* ERROR PAGES */

.error-404 {
  text-align: center;
}

/* TABLES */

table {
  border-collapse: collapse;
  background-color: #fff;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #ccc;
}

th {
  border-bottom: 2px solid #ccc;
}

tr:hover {
  background-color: #eee;
}

thead tr:hover {
  background-color: #fff;
}

/* ALERTS */

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
}

.alert-warning {
  background-color: #fff3cd;
  border-color: #ffeeba;
  border-left: 5px solid #ffeeba;
}

.alert-warning,
.alert-warning strong,
.alert-warning em {
  color: #856404;
}

/* CALLOUTS */

.callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem;
}

.callout-danger {
  border-left-color: #d9534f;
}

.callout-warning {
  border-left-color: #f0ad4e;
}

/* MISC */

::-moz-selection {
  color: #fff;
  background: #4693e0;
}

::selection {
  color: #fff;
  background: #4693e0;
}

/* ## JOINT CLASSES */

pre,
.alert,
ol.breadcrumb,
.smartlook-cinema {
  border-radius: 5px;
}