// breadcrumb.scss

.breadcrumb {
  z-index: 4;
  width: 100%;
  border-bottom: 1px solid $o_grey_300;
  background-color: $o_grey_100;
  padding: 4px 0 4px 28px;
  position: fixed;
  left: 0;
  top: 68px;
}

.breadcrumb .breadcrumb-item a {
  padding-bottom: 9px;
  text-decoration: none;
}

.breadcrumb .breadcrumb-item a:hover {
  border-bottom: 3px solid $o_grey_500;
}

.breadcrumb .breadcrumb-item a.active {
  border-bottom: 3px solid $c_primary;
}

.breadcrumb .breadcrumb-item:not(:last-child) a,
.breadcrumb .breadcrumb-item:not(:last-child) a:active,
.breadcrumb .breadcrumb-item:not(:last-child) a:focus,
.breadcrumb .breadcrumb-item:not(:last-child) a:hover,
.breadcrumb .breadcrumb-item:not(:last-child) a:visited {
  color: $c_primary;
}

.breadcrumb .breadcrumb-item:not(:first-child)::before {
  color: $o_grey_300;
  content: "";
}