// elements.scss

/**
  * Index
  * - Base
  * - Responsive images
  *
  */

// = BASE =

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: $font_stack;
}

html,
body {
  min-height: 100vh;
  background: $o_white_2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: $o_blue_grey_900;
}

p,
li,
blockquote {
  font-weight: 400;
}

a,
a:active,
a:focus,
a:hover,
a:visited {
  color: $c_primary;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:focus,
.btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

ol li,
ul li {
  margin-top: 0;
}

.btn {
  border-radius: $radius_2;
}

.docs img,
.typography img {
  border: 1px solid $o_grey_300;
  border-radius: $radius_2;
  padding: 4px;
  background: $o_grey_50;
  -webkit-transition: $transition_03;
  transition: $transition_03;
}

.docs a img:hover,
.typography a img:hover {
  border: 1px solid $o_grey_500;
}