// main-content.scss
/**
  * Index
  * - Main content
  * - Pages
  * - Sections
  * - Anchors
  * - Tables
  * - Alerts
  * - Callouts
  *
  */

// MAIN CONTENT
article {
  margin-top: 20px;
}

article h1,
.category h1 {
  margin-bottom: 0;
}

article h2,
article h3,
article h4 {
  margin-top: 50px;
}

.title-block {
  border-bottom: 1px dashed $o_grey_300;
  margin-bottom: 20px;
  position: relative;
}

.page-subtitle {
  color: $o_grey_500;
}

.category .page-subtitle {
  margin-bottom: 30px;
}

.docs-content.off-canvas-content {
  padding: 0 0 0 60px;
}

.docs-content .s-subtitle,
.docs-content .s-title {
  z-index: 0;
}

.docs-content .s-subtitle::before,
.docs-content .s-title::before {
  background: inherit;
}

.docs-content .column {
  padding-right: 20px;
}

// PAGES
// Body classes
.page {
  padding-top: 135px;
}

.home-github {
  margin-top: 72px;
}

.home-github .section p {
  margin-top: 20px;
}

.home-github #logo a::after,
.home-github #nav-menu {
  display: none;
}

.home-docs {
  background: $o_grey_50;
}

.home-docs,
.docs {
  padding-top: 135px;
}

.category {
  padding-top: 170px;
}

// GitHub homepage
.bg-primary {
  background-image: linear-gradient(254deg, $c_aqua, $c_sea)
}

.bg-gray {
  background: $o_grey_50;
}

.bg-white {
  background: $o_white;
}

// SECTIONS
.section-smartlook h2,
.section-smartlook p {
  color: $o_white;
}

.section-smartlook,
.section-help,
.section-docs,
.section-plugins,
.section-github {
  padding: 1rem 0.5rem;
}

.section-smartlook,
.section-help,
.section-docs,
.section-plugins,
.section-github {
  padding: 4rem 2rem;
}

.category .section-cards {
  margin-bottom: 30px;
}

.home-docs .section-cards a:hover {
  text-decoration: none;
}

.home-docs .section-cards p {
  margin: 0;
}

.docs .section-cards a:hover {
  text-decoration: none;
}

.section-cards,
.card {
  cursor: pointer;
}

.card {
  border: dashed 1px $o_grey_100;
  background-color: $o_white;
  border-radius: 2px;
  margin: 0 0 5px 0;
}

.card:hover {
  background-color: $o_grey_100;
    -webkit-transition: background-color .5s ease;
  transition: background-color .5s ease;
}

.card:active {
  position: relative;
  top: 1px;
}

.card p {
  margin: 0;
}

.card-subtitle {
  color: $o_grey_500;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}
.card:hover .card-subtitle {
  color: $o_grey_600;
}

img.center {
  display: block;
  margin: 20px auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.card:hover img.center {
    -webkit-filter: none;
    filter: none;
}

.section-footer .container {
  z-index: 0;
  padding: 0rem 2rem;
}

// Docs (index)
.docs-index {
 margin-bottom: 30px;
}

.intro {
  text-align: center;
}

.intro p {
  margin-bottom: 0;
}

.intro .search {
  width: 700px;
  text-align: center;
  margin: 30px auto 50px auto;
}

.intro .search .form-input {
  padding: 22px;
  font-size: 18px;
}

.intro .search .form-input:focus {
  -webkit-box-shadow: 0 0 0 6px rgba(70, 147, 224, .2);
  box-shadow: 0 0 0 6px rgba(70, 147, 224, .2);
}

.docs-index .card {
  border: dashed 1px $o_grey_300;
  background-color: $o_white;
  border-radius: 2px;
  margin: 0 0 10px 0;
  min-height: 185px;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.docs-index .card:hover {
  border-color: $o_grey_600;
}

.docs-index .h2 {
  text-transform: capitalize;
  text-align: center;
  border-bottom: 1px solid $o_grey_300;
}

.docs-index .card-title,
.docs-index .card-subtitle {
  margin-bottom: 20px;
}

.docs-index .card-title p {
  padding-bottom: 20px;
}

// Docs (categories)
.category-headline {
  text-transform: uppercase;
  color: $o_grey_600;
  border-bottom: 1px dashed $o_grey_300;
  margin-bottom: 20px;
}

.category .card {
  border: dashed 1px $o_grey_300;
  background-color: $o_white;
  border-radius: 2px;
  margin: 0 0 10px 0;
  min-height: 85px;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.category .card:hover {
  border-color: $o_grey_600;
}

.category .card .card-header:last-child {
  padding: .2rem 1rem .6rem 1rem;
}


// Docs (FAQ)

.faq {
  margin: 10px 0 30px 0;
}

.faq h3 {
  text-align: center;
}

.faq ul {
  list-style: none;
  margin: 0;
  padding: 3px 0;
  background-color: $o_white;
  border: 1px dashed $o_grey_300;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.faq ul:hover {
  border-color: $o_grey_600;
}

.faq li a {
  display: inline-block;
  padding: 2px 15px;
  width: 100%;
  border: 1px dashed $o_white;
}

.faq li a:hover {
  text-decoration: none;
  background: $o_white_2;
}

.faq li a::before {
  content: "•";
  color: $o_grey_300;
  margin-right: 5px;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.faq li a:hover::before {
  color: $o_grey_600;
}

// ANCHORS 
.docs h1 a,
.docs h2 a,
.docs h3 a,
.docs h4 a {
  color: $o_grey_300;
  text-decoration: none;
  margin-left: 5px;
  padding: 0 5px;
  display: none;
}

.docs h1:hover a,
.docs h2:hover a,
.docs h3:hover a,
.docs h4:hover a {
  display: inline-block;
}

.docs h1 a:hover,
.docs h2 a:hover,
.docs h3 a:hover,
.docs h4 a:hover {
  color: $c_primary;
}

// fix anchor position issue
:target:before {
  content: "";
  display: block;
  height: 162px;
  margin: -162px 0 0;
}

// TABLES 
table {
  background-color: $o_white;
  border-collapse: collapse;
  margin: 0 0 20px 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  font-size: 14px;
}

tr {
  background-color: $o_white;
  border: 1px solid $o_grey_100;
}

td {
  overflow: hidden;
  text-overflow: ellipsis;
}

th,
td {
  text-align: left;
  padding: 10px;
  vertical-align: top;
}

th {
  text-transform: uppercase;
}

thead tr:hover {
  background-color: $o_white;
}

tbody tr:hover {
  background-color: $o_grey_50;
}

// ALERTS 
.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border-radius: $radius_2;
}

.alert-success {
  background-color: $o_green_100;
  border-left: 5px solid $o_green_500;
}

.alert-success,
.alert-success strong,
.alert-success em {
  color: $o_green_900;
}

.alert-warning {
  background-color: $o_yellow_100;
  border-left: 5px solid $o_yellow_600;
}

.alert-warning,
.alert-warning strong,
.alert-warning em {
  color: $o_brown_500;
}

.alert-danger {
  background-color: $o_red_100;
  border-left: 5px solid $o_red_500;
}

.alert-danger,
.alert-danger strong,
.alert-danger em {
  color: $o_red_900;
}

.alert-info {
  background-color: $o_blue_100;
  border-left: 5px solid $o_blue_500;
}

.alert-info,
.alert-info strong,
.alert-info em {
  color: $o_blue_900;
}

// CALLOUTS 
.callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid $o_grey_300;
  border-left-width: 0.25rem;
  border-radius: $radius_2;
}

.callout-success {
  border-left-color: $o_green_500;
}

.callout-danger {
  border-left-color: $o_red_500;
}

.callout-warning {
  border-left-color: $o_yellow_600;
}

.callout-info {
  border-left-color: $o_blue_500;
}