// misc.scss

/**
  * Index
  * - Edit on GitHub
  * - Back to top
  * - Error pages
  * - Markdown fixes
  * - Random
  *
  */

// EDIT ON GITHUB

.edit-on-github a {
  color: $o_grey_500;
  font-size: 14px;
  border: 1px solid $o_grey_300;
  padding: 5px 10px;
  border-radius: $radius_2;
  background: $o_white;
}

.edit-on-github a:hover {
  color: $c_primary;
  text-decoration: none;
  border-color: $o_grey_500;
}

.edit-on-github svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 2px;
  margin-right: 2px;
}

.edit-on-github svg path {
  fill: $o_grey_500;
}

.edit-on-github:hover svg path {
  fill: $o_blue_grey_900;
}

// BACK TO TOP
#btt {
  display: none;
  position: fixed;
  bottom: 25px;
  right: 30px;
  margin: 0;
}

#btt button {
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 14px;
  color: $o_white;
  background-color: $o_grey_500;
  border-radius: $radius_2;
  padding: 5px 10px;
  -webkit-transition: $transition_03;
  transition: $transition_03;
}

#btt button:hover {
  background-color: $o_grey_600;
}

// ERROR PAGES
.error404 {
  text-align: center;
}

.error404 .section-footer {
  margin-top: 40px;
}

// MARKDOWN FIXES

hr {
  margin: 30px 0;
}

.typography .token.regex,
.typography .token.important,
.typography .token.variable
{
  color: $o_blue_grey_900;
}

// RANDOM
::-moz-selection {
  color: $o_white;
  background: $c_primary;
}

::selection {
  color: $o_white;
  background: $c_primary;
}

img.emoji {
  position: relative;
  top: 5px;
  margin: 0 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  padding: 0;
  background: $o_white;
}