// sidebar.scss

/**
  * Index
  * - Responsive menu icon
  * - Sidebar menu
  * - Menu items
  * - Sidebar layout
  *
  */

// RESPONSIVE MENU ICON
.docs-navbar {
  z-index: 3;
  position: fixed;
  top: 113px;
  background: $o_white;
  height: 60px;
}

.docs-navbar .btn {
  top: 10px;
}

// SIDEBAR MENU
.docs-sidebar .docs-nav {
  background: $o_white;
  position: fixed;
  top: 113px;
  bottom: 0;
  padding: 0 0 0 20px;
  width: 254px;
  border-right: 1px solid $o_grey_300;
}

.docs-sidebar .docs-nav h5 {
  margin: 13px 0 5px 7px;
}

#sidebar .menu {
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
  width: 213px;
  border-radius: $radius_2;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#sidebar .menu ul li {
  width: 230px;
}

#sidebar .menu .divider {
  text-transform: uppercase;
}

.divider-vert[data-content]::after,
.divider[data-content]::after,
.back-to-docs {
  color: $o_grey_500;
  font-size: .7rem;
}

// MENU ITEMS
.menu .menu-item {
  // width: 239px;
  font-size: 15px;
}

.menu .menu-item>a {
  border-radius: $radius_2;
}

.menu .menu-item>a:active,
.menu .menu-item>a:focus,
.menu .menu-item>a:hover {
  color: $c_primary;
  background: $o_grey_100;
}

.menu li.active a {
  color: $c_primary;
  background: $o_grey_100;
}

// SIDEBAR LAYOUT
.off-canvas .off-canvas-sidebar {
  z-index: 2;
  background: $o_white_2;
  width: 254px;
}

.off-canvas .off-canvas-sidebar.active~.off-canvas-overlay,
.off-canvas .off-canvas-sidebar:target~.off-canvas-overlay {
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}
