<!DOCTYPE html>
<html lang="en">

{% include head/meta-data.html %}

<body {% if page.layout == 'category' %}class="{{ page.layout }} {{ page.title | slugify }}{% if page.class != null %} {{ page.class }}{% endif %}"{% endif %}>

  {% include header/site-nav.html %}
  {% include docs/breadcrumb.html %}

  <div class="container grid-lg">

    <div class="columns">
      <div class="column col-12">

        <h1>{{ page.title }}</h1>
        <p class="page-subtitle">{{ page.subtitle }}</p>

        {{ content }}

        {% include footer/footer.html %}

      </div>
      <!-- column -->
    </div>
    <!-- columns -->

  </div>
  <!-- container -->

  {% include footer/scripts.html %}

</body>

</html>