<!DOCTYPE html>
<html lang="en">

{% include head/meta-data.html %}

<body {% if page.class != null %}class="{% if page.class == 'home-github' %}{{ page.class }}{% elsif page.class == 'home-docs' %}{{ page.class }}{% endif %}"{% endif %}{% if page.class == null %} class="{{ page.title | slugify }}"{% endif %}>

  {% include header/site-nav.html %}

  {{ content }}

  <div class="container grid-lg">
    {% include footer/footer.html %}
  </div>
  <!-- container -->

  {% include footer/scripts.html %}

</body>

</html>