--- 
layout: default 
---

<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">

  <a class="navbar-brand" title="Smartlook.com" href="#">
    <picture>
      <source srcset="/assets/images/logo@1x.webp, /assets/images/logo@2x.webp 2x, /assets/images/logo@3x.webp 3x" type="image/webp">
      <img src="/assets/images/logo@1x.png" srcset="/assets/images/logo@2x.png 2x, /assets/images/logo@3x.png 3x" alt="Smartlook">
    </picture>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Documentation
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.smartlook.com/">Go back to Smartlook</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Tricks for developers</h1>
      <p>Smartlook offers a number of extra features. It is possible that some of them will help you make your recordings even
        better.</p>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Visitor info</h2>
            <p class="card-text">Display in Smartlook dashboard detailed information about visitor.</p>
            <a href="#" class="btn btn-primary">Read more ...</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Visitor sensitive data protection</h2>
            <p class="card-text">Do not record visitor sensitive data by masking forms and inputs.</p>
            <a href="#" class="btn btn-primary">Read more ...</a>
          </div>
        </div>
      </div>
    </div>
    <!-- #row -->

    <div class="row top-buffer">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Custom events</h2>
            <p class="card-text">Create your own specific events for tracking.</p>
            <a href="#" class="btn btn-primary">Read more ...</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Recording info</h2>
            <p class="card-text">Get information about recording such as recording URL.</p>
            <a href="#" class="btn btn-primary">Read more ...</a>
          </div>
        </div>
      </div>
    </div>
    <!-- #row -->

  </div>
  <!-- /container -->

</main>